@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway&family=Stick&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color:rgba(255, 255, 255, 0.3);
}

.main-header {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("images/gorillaz-strange-timez-background-cover.JPG");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Stick', sans-serif;
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 10vw;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 75vw;
    margin: 0 auto;
    padding: 0 1.5em;
    text-align: center;
}

.section-header {
    font-family: 'Anton', sans-serif;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    min-width: 300px;
    padding-bottom: 2em;   
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: 0.25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 0.5em;
}

.footer-nav img {
    width: 4vw;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 0.67em;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.btn-header {
    color: white;
    border: 2px solid #2D9CD8;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 2em;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    color: #2D9CD8;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tour-row {
    border-bottom: 1px solid #777;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: 0.5em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 10%;
}

.tour-city {
    width: 23%;
}

.tour-arena {
    width: 41%;
}

.tour-btn {
    max-width: 18%;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: 2em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CD8;
}